<html>

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/employeeDetail.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>

	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="employeeDetailWrapper">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="id" type="hidden" value="<% if (locals.employee && locals.employee.id) { %><%= locals.employee.id %><% } %>" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="managerId" type="hidden" value="<% if (locals.employee && locals.employee.managerId) { %><%= locals.employee.managerId %><% } %>" />
						</td>
					</tr>
					<!--<tr <% if (!locals.employee || !locals.employee.id || (locals.employee.id.trim() === "")) { %>class="hidden"<% } %>>-->
					<tr>
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeId" type="text" value="<% if (locals.employee && locals.employee.employeeId) { %><%= locals.employee.employeeId %><% } %>" class="update"  />
						</td>
					</tr>
					<tr>
						<td class="label">First Name:</td>
						<td>
							<input id="firstName" type="text" value="<% if (locals.employee && locals.employee.firstName) { %><%= locals.employee.firstName %><% } %>" class="update"/>
						</td>
					</tr>
					<tr>
						<td class="label">Last Name:</td>
						<td>
							<input id="lastName" type="text" value="<% if (locals.employee && locals.employee.lastName) { %><%= locals.employee.lastName %><% } %>" class="update"/>
						</td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td>
							<input id="password" type="text" value="<% if (locals.employee && locals.employee.password) { %><%= locals.employee.password %><% } %>" class="update"/>
						</td>
					</tr>
					<tr>
						<td class="label">Verify Password:</td>
						<td>
							<input id="verifyPassword" type="text" value="<% if (locals.employee && locals.employee.password) { %><%= locals.employee.password %><% } %>" class="update"/>
						</td>
					</tr>
					<tr>
						<td class="label">Employee Type:</td>
						<td>
							<input id="employeeType" type="text" value="<% if (locals.employee && locals.employee.classification) { %><%= locals.employee.classification %><% } %>" class="update"/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- TODO: An action element to initiate a save -->
		<div>
			<br />
			<button id="saveButton" type="button" class="action">Save</button>
		</div>

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="footer <% if (locals.isInitialEmployee) { %>hidden<% } %>">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html> 